<footer class="footer">

  <div class="row" id="footer-navigation" role="navigation">

      <div class="columns large-3">
        <div class="footer__nav">
          <h3>The Optimists</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profiles">Optimists</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/stories">Stories</a></li>
          </ul>
        </div>
      </div>

      <div class="columns large-3">
        <div class="footer__nav">
          <h3>Get Involved</h3>
          <ul>
            <li><a href="http://giveto.ucla.edu/" target="_blank">Giving</a></li>
            <li><a href="http://www.ucla.edu/apply">Admission</a></li>
            <li><a href="http://happenings.ucla.edu/" target="_blank">Happenings</a></li>
            <li><a href="http://volunteer.ucla.edu/" target="_blank">Volunteer</a></li>
            <li><a href="http://alumni.ucla.edu/" target="_blank">Alumni</a></li>
            <li><a href="http://advocacy.ucla.edu/" target="_blank">Advocacy</a></li>
          </ul>
        </div>
      </div>

      <div class="columns large-3">
        <div class="footer__nav">
          <h3>News</h3>
          <ul>
            <li><a href="http://newsroom.ucla.edu/" target="_blank"href="#">Newsroom</a></li>
            <li><a href="http://magazine.ucla.edu/" target="_blank">Magazine</a></li>
          </ul>
        </div>
      </div>

      <div class="columns large-3">
        <div class="footer__nav">
          <h3>Connect with UCLA</h3>
          <ul>
            <li><a href="{{ site.facebook }}" target="_blank">Facebook</a></li>
            <li><a href="{{ site.twitter }}">Twitter</a></li>
            <li><a href="{{ site.youtube }}">YouTube</a></li>
            <li><a href="{{ site.instagram }}">Instagram</a></li>
          </ul>
        </div>
      </div>

  </div>

  <section class="legal" role="contentinfo">
    <div class="row">
      <div class="columns small-3 large-1">
        <a class="ucla-logo-footer__wrapper" href="http://www.ucla.edu/">
          <img src="/assets/img/ucla-logo-footer.svg" class="ucla-logo" alt="UCLA Website">
        </a>
      </div>
      <div class="columns small-9 large-11 ">
        <div class="text-wrapper">
          <a class="terms ga-footer-link" href="http://www.ucla.edu/terms-of-use">Terms of Use/Privacy Policy</a>
          <span class="copyright">©2017 Regents of the <a href="http://universityofcalifornia.edu/" class="terms ga-footer-link">University of California</a>, Los Angeles campus. All rights reserved.</span>
        </div>
      </div>
    </div>
  </section>

</footer>
