/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/

/*********************
COLORS
*********************/

/*Project Colors */
$color--superdarkblue: #001769;
$color--darkestblue: #0033a1;
$color--darkblue: #0054a6;
$color--mediumblue: #00a5e5;
$color--lightblue: #3284bf;
$color--vibrantblue: #00c5f8;
$color--yellow: #ffe600;
$color--white: #fff;
$color--lightgray: #e4ecf2;
$color--black: #000;
$color--links: #173a67;


/* Background Colors */
$color--background-light: $color--mediumblue;
$color--background-dark: $color--darkestblue;

/* Button Colors */
$color--button: $color--darkestblue;
$color--alt-button: $color--white;

/* Carousels */
$color--nav: $color--lightblue;

/* Gradients */
$color--gradient-1: $color--darkblue;
$color--gradient-2: $color--mediumblue;

/* Fonts */
$color--headlines: $color--lightblue;

/*********************
FONTS
*********************/



/*********************
GENERAL MIXINS
*********************/
