$aboutUsBottom: 30vw;
$aboutUsTop: 43vw;
$aboutUsBoth: $aboutUsTop + $aboutUsBottom;

$aboutUsSmallBottom: 10vw;
$aboutUsSmallTop: 27vw;
$aboutUsSmallBoth: $aboutUsSmallTop + $aboutUsSmallBottom;



.about-us{
  text-align: center;
  position: relative;
  z-index: 500;

  margin-bottom: -1 * $aboutUsSmallBoth;
  @include breakpoint(large) {
    margin-bottom: -1 * $aboutUsBoth;
  }

  &__row.row{
    display: block;
    @include breakpoint(large){
      display: flex;
      justify-content: center;
    }
  }
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100% - #{$aboutUsSmallBoth});
    @include breakpoint(large) {
      height: calc(100% - #{$aboutUsBoth});
    }
    z-index: 200;
    background-color: $c-blue-about;
  }
  


  &__wrapper{
    position: relative;
    transform: translateY(#{-1 * $aboutUsSmallTop});
    @include breakpoint(large) {
      transform: translateY(#{-1 * $aboutUsTop});
    }
    z-index: 500;
  }

  &__helper{
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 100;
    overflow: hidden;
    
    &-inner{
      @include fill;
      top: auto;
      bottom: 0;
      height: 50%;

      &--bottom{
        bottom: auto;
        top: 0;
        background-position: top;
      }
    }

    &-lower{
      content: "";
      z-index: 50;
      width: 200vw;
      transform-origin: center;
      height: 10vw;
      box-shadow: 0 0 400px 100px $c-blue-about-shadow, inset 0 0 400px 50px $c-blue-about-shadow;
    }

    &-higher{
      content: "";
      z-index: 100;
    }

    &-lowest{

    }
    &--top{
      top: 0;
      transform: translateY(-100%);
      //margin-top: -71.42857143%;
      padding-bottom: 71.42857143%*2;
      &-higher{

        background-image: url(../media/newreef2.svg);
        background-size: contain;
      }
      z-index: 100;

      &-lowest{
        margin-top: 5%;
        background-image: url(../media/newreef.svg);
        background-size: contain;
      }
      &-lower{
        transform: rotate(26deg) translate(-50vw, 55vw);
      }
    }
    &--bottom{

      bottom: $aboutUsSmallBoth;
      padding-bottom: 71.42857143%*2;
      @include breakpoint(large) {
        bottom: $aboutUsBoth;
      }
      transform: translateY(100%);
      //margin-top: -71.42857143%;
      &-higher{
        background-image: url(../media/newreefbottom2.svg);
        background-size: contain;
      }

      &-lower{
        transform: rotate(23deg) translate(-46vw, 37vw);
      }
      &-lowest{
        background-image: url(../media/newreefbottom.svg);
        background-size: contain;
      }
      
    }
  }

  &__join{
    font-family: $ff-oswald;
    a{
      text-decoration: none;
      color: $c-yellow;
      &:hover{
        color: $c-white;
      }
    }
  }
}

.partner {
  padding-bottom: $m-big;
  padding-top: $m-small;
  &:first-of-type{
    padding-top: 0;
  }
  &:last-of-type{
    padding-bottom: 0;
    margin-bottom: -1 * $m-big;
  }
  &__logo{

    display: block;
    margin: 0 auto;
    padding-bottom: $m-tiny;
    //padding-top: $m;
    &-inner{

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 75px;
      text-indent: -9999px;
      overflow: hidden;
    }
    &--tidal{

    }
    &--tidal &-inner{
      height: 75px;
      background-image: url(../media/logo-tidal.png);
    }
    &--isn &-inner{
      height: 80px;
      background-image: url(../media/logo-isn.png);
    }
    &--thinkitsm &-inner{
      background-image: url(../media/logo-thinkitsm.png);
    }
    &--12links &-inner{
      height: 50px;
      background-image: url(../media/logo-12links.png);
    }
  }
  
  &:hover {
    .partner__logo {
      &--tidal &-inner{
        height: 75px;
        background-image: url(../media/colored-tidal.png);
      }
      &--isn &-inner{
        height: 80px;
        background-image: url(../media/colored-isn.png);
      }
      &--thinkitsm &-inner{
        background-image: url(../media/colored-thinkitsm.png);
      }
      &--12links &-inner{
        height: 50px;
        background-image: url(../media/colored-12links.png);
      }
    }
  }
  &__header{

    @include breakpoint(large) {
      align-self: center; 
    }
    h2{

      margin-top: $aboutUsSmallBottom * 0.5;

      @include breakpoint(large) {
        //margin-top: $aboutUsBottom * 0.5;
        margin-top: 0; 
        transition: none;
        margin-bottom: $m-large;
      }
      transition: translateY(-50%);
    }
  }
  &__link{
    font-family: $ff-oswald;
  }
}

.city{

  position: absolute;
  width: 50%;
  height: 0;
  padding-bottom: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-90%);
  &__inner{
    @include fill;


    background-image: url(../media/city2.svg);
    background-size: contain;
    background-position: right 20%;
    background-repeat: no-repeat;
  }
  opacity: 0.3;

  &-background{
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: 0;
    &__inner{
      @include fill;

      background: linear-gradient(0deg, rgba($c-pink-about,70%) 0%, transparent 100%) left top no-repeat;
    }
  }
}