.contact{

  background-color: $c-blue-water-contact;
  position: relative;
  padding-bottom: 65%;
  padding-top: 0%;
  padding-top: calc(0% + #{$aboutUsBoth});

  &:after{
    content: "";
    @include fill;
    display: block;
    background: linear-gradient(0deg, rgba($c-black,50%) 0%, transparent 100%) left top no-repeat;
    z-index: 100;
  }

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    //transform: translateY(-100%);
    background: linear-gradient(0deg, rgba($c-pink-contact,95%) 0%, rgba($c-pink-contact,95%) 50%, transparent 100%) left top no-repeat;
    z-index: 0;
  }

  &__row.row{
    display: block;
    @include breakpoint(large){
      display: flex;
    }
  }

  &__wrapper{
    position: relative;
    z-index: 1000;
    padding-top: $m-large;
    padding-bottom: $m-giant;
  }

  font-size: $fz-increased;

  &-info{

    text-align: center;
    @include breakpoint(large){
      text-align: left;
    }
    &__main{
      margin-bottom: $m;
      margin-top: $m;
      h4{
        font-size: $fz-medium;


        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;
        color: $c-yellow;
        cursor: pointer;
        &:hover{
          color: $c-white;
        }
      }

    }
    &__address{
      font-style: normal;
    }
    &__billing{
      a{
        text-decoration: none;
        color: $c-yellow;
        &:hover{
          color: $c-white;
        }
      }
    }
  }
}