body{
  background-color: $c-bg;
  color: $c-text;

}
section{
  min-height: 700px;
}
a{
  color: inherit;
}
.app-inner{
  max-width: 100%;
  max-width: 100vw;
  overflow: hidden;
  &--nav{
    max-height: 100vh;
    overflow: hidden;

  }
}
.reef{
  width: 100%;
  display: block;
  padding-bottom: 115.1765%;
  background-image: url(../media/reeffb.svg);
  background-size: contain;
  margin-top: -75%;
  margin-bottom: -10%;
  @include breakpoint(medium) {
    margin-bottom: -22%;
  }
  z-index: 500;
  position: relative;

  &--upside-down{
    transform: scaleY(-1);
  }
}

.reef-bottom{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 50;
  padding-bottom: 100%;
  background-image: url(../media/reefe/reefe.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}