body{
  background-color: $c-bg;
  color: $c-text;

}
section{
  min-height: 700px;
}
a{
  color: inherit;
}
.app-inner{
  max-width: 100%;
  max-width: 100vw;
  overflow: hidden;
  &--nav{
    max-height: 100vh;
    overflow: hidden;

  }
}
$reefOffset: 40%;
.reef{
  width: 100%;
  display: block;
  padding-bottom: 115.1765%;
  pointer-events: none;
    
  &__helper{
    @include fill;
    height: 200%;
    overflow: hidden;
    margin-bottom: $reefOffset;
    bottom: 0;
    top: auto;

    &-inner{
      margin-top: $reefOffset;
      @include fill;

      .reef__inner{

        height: 50%;
        top: 50%;
      }
    }
  }


  &__inner{
    @include fill;
  }

  &__inner--1 &__bg{

    background-image: url(../media/reeffc/reeffb1.svg);
  }
  &__inner--2 &__bg{

    background-image: url(../media/reeffc/reeffb2.svg);
  }
  &__inner--3 &__bg{

    background-image: url(../media/reeffc/reeffb3.svg);
  }
  &__inner--4 &__bg{

    background-image: url(../media/reeffb/reeffb4.svg);
  }
  &__bg {
    
    @include fill;
    background-size: contain;
  }
  margin-top: -75%;
  margin-bottom: -10%;
  @include breakpoint(medium) {
    margin-bottom: -22%;
  }
  z-index: 500;
  position: relative;

  &--upside-down{

    &__bg {
      transform: scaleY(-1);
    }
  }
}

.reef-bottom{
  pointer-events: none;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 50;
  padding-bottom: 100%;


  &__inner{
    @include fill;
  }

  &__inner--1 &__bg{

    background-image: url(../media/reefe/reefe1.svg);
  }
  &__inner--2 &__bg{

    background-image: url(../media/reefe/reefe2.svg);
  }
  &__inner--3 &__bg{

    background-image: url(../media/reefe/reefe3.svg);
  }
  &__inner--4 &__bg{

    background-image: url(../media/reefe/reefe4.svg);
  }
  &__bg {
    
    @include fill;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.footer{
  position: relative;
  z-index: 100;
  margin-top: -10px;
  padding-top: $m-small;
  padding-bottom: $m-small;
  background-color: $c-footer;
  text-align: center;
}