.hero{

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../media/skywithclouds.svg);
  background-size: cover;
  position: relative;
  z-index: 100;

  &__main{
    position: relative;
    z-index: 200;
  }
}

.iceberg{
  width: 90%;
  max-width: $icebergMaxWidth;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(64%);
  z-index: 0;

  &__inner{
    width: 100%;
    padding-bottom:156.94560992%;
    background-image: url(../media/iceberg.svg);
    background-size: contain;
    background-position: center;
   
    background-repeat: no-repeat;

    animation: ice-berg 3s ease-in-out infinite alternate;
  }
}

@keyframes ice-berg {
  0% {
    transform: rotate(-2deg) translate(-5px, -30px)
  }
  50% {
    transform: rotate(0deg) translate(0px, 0px)
  }
  100% {
    transform: rotate(2deg) translate(10px, 30px)
  }
}