$icebergMaxWidth: 700px;

.hero{

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../media/clouds.svg);
  background-size: cover;
  position: relative;
  margin-bottom: 70%;
  @include breakpoint(large) {
    margin-bottom: $icebergMaxWidth*1.028;
  }

  &__main{
    position: relative;
    z-index: 200;
  }
}

.iceberg{
  width: 90%;
  max-width: $icebergMaxWidth;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(62%);
  z-index: 0;

  &__inner{
    width: 100%;
    padding-bottom:156.94560992%;
    background-image: url(../media/iceberg.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}