body{
  font-family: $ff-abel;
  font-size: 18px;
}
h1{
  font-size: $fz-giant;
  line-height: 1;
}
h2{
  font-size: $fz-giant;
}
h1,h2{
  text-transform: uppercase;
  text-align: center;
}
h1,h2,h3,h4{
  font-family: $ff-oswald;
}