/*
  colors
 */

$c-blue: #0f254a;
$c-white: #fff;

$c-bg: $c-blue;
$c-text: $c-white;

/*
  fonts
 */
$fz-giant: 3rem;
$fz-larger: 1.875rem;
$fz-large: 1.8rem;
$fz-medium: 1.5rem;
$fz-regular: 1rem;
$fz-small: 0.875rem;

$ff-oswald: 'Oswald', sans-serif;
$ff-abel: 'Abel', sans-serif;