.what-we-offer {
  text-align: center;
  background:$c-blue-water-what linear-gradient(180deg, $c-blue-water-what, $c-blue-water-what-lower) left top no-repeat;
  
  padding-bottom: 65%;
  @include breakpoint(medium) {
    padding-bottom: 55%;
  }
  


  &:before{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 85%;
    padding-bottom: 85% + 29%;
    background:$c-blue-water-top linear-gradient(180deg, $c-blue-water-top, $c-blue-water-top-lower) left top no-repeat;
    z-index: 0;
    @include breakpoint($icebergMaxWidth * 1.1) {
      padding-bottom: calc(#{$icebergMaxWidth*1.028} + 29%);
    }
  }
  &__headline{
    padding-bottom: $m-large;
  }
  &__header{
    text-transform: uppercase;
  }
  &__icon{
    display: block;
    max-width: 250px;
    margin: 0 auto;
    @include breakpoint(large) {
      padding-bottom: $m-large;
    }
    
    //padding-top: $m;
    &-inner{

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      padding-bottom: 100%;
    }

    &--visioning &-inner{
      background-image: url(../media/visioning.svg);
    }
    &--systemsthinking  &-inner{
      background-image: url(../media/systemsthinking.svg);
    }
    &--strategy &-inner{
      background-image: url(../media/strategy.svg);
    }
    &--designthinking &-inner{
      background-image: url(../media/designthinking.svg);
    }
    &--leadership &-inner{
      background-image: url(../media/leadership.svg);
    }
    &--collaboration &-inner{
      background-image: url(../media/collaboration.svg);
    }

  }
  &__desc{
    .what-we-offer__item:nth-of-type(2n) & {
      @include breakpoint(large){
        order: -1;
      }
      
    }
  }
  &__item.row{
    flex-flow: column;
    padding-bottom: $m-big;
    @include breakpoint(large){
      padding-bottom: 0;
      flex-flow: row;
    }
    
  }
}